.form-control{
	width: 60%;
	margin: 0 auto;
}

.modal{
	position: absolute;
	z-index: 1000;			
	margin: 0 auto;
}

.panel .panel-heading{
	background: #000;
}

.panel .panel-title{
	color: #fff;
}

.jumbotron{
	background: url("../img/brasil.png");
}

footer{
	width: 100%;
	height: 7%;
	position: fixed;
	bottom: 0;
	background: #000;
}

h5.text-center{
	color: #696969;
	margin: 1.5%;
}